@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "BMJUA";
  src: url("/fonts/BMJUA.woff") format("woff");
}

@font-face {
  font-family: "LunarModularBold";
  src: url("/fonts/CCLunarModularBold.woff") format("woff");
}

@font-face {
  font-family: "PyeongChangPeaceBold";
  src: url("/fonts/PyeongChangPeace-Bold.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("/fonts/NanumSquareRoundR.woff") format("woff");
}
