@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "LunarModularBold";
  src: url("/fonts/CCLunarModularBold.woff") format("woff");
}

@font-face {
  font-family: "PyeongChangPeaceBold";
  src: url("/fonts/PyeongChangPeace-Bold.woff") format("woff");
}

@font-face {
  font-family: "PyeongChangPeaceLight";
  src: url("/fonts/PyeongChangPeace-Light.woff") format("woff");
}

@font-face {
  font-family: "NanumSquareRoundR";
  src: url("/fonts/NanumSquareRoundR.woff") format("woff");
}

@layer components {
  .gradient-text-primary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-gradient1 via-gradient0 to-gradient1;
  }
}
